<!DOCTYPE html>
<html>
    <head>
        <title>Init Application</title>
        <meta charset="utf-8">
        <style>
            .red {
                color: red;
            }
        </style>
    </head>
    <body>
        <form method="post">
            <p>Sheet ID <input type="text" name="sheet" /></p>
            <p>Please go to this <a href="{{url}}" target="_new">URL</a> and proceed to get auth code.</p>
            <p>Code <input type="text" name="code" /></p>
            <p class="red">If you don't get auth code, our app can't read your sheet.</p>
            <p><button>send</button><p>
        </form>
    </body>
</html>
